/* body part */


body {
    font-family: 'Open Sans', sans-serif;
    background-size: cover;
    margin: 0;
}

/*-----------------------*/
#Intro-banner {
    background-color: rgb(218, 224, 230);
    min-height: 100vh;
}



.container-text {

    margin: auto;
    text-align: right;
    padding-right: 10%;
    padding-top: 10%;
    position: absolute;
    top: 0px;
    right: 0px;
}

.main-container img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

.container-text h1 {
    font-size: 40px;
    margin: 0%;
}

.container-text p {
    font-size: 14px;
    font-weight: 600;
    color: #575656;
}


.Contact {
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 5px;
    background-image: linear-gradient(rgb(255, 69, 18), tomato);
    color: white;
    font-weight: 700;
    text-align: center;
    margin-left: 45%;


}

/*-----------------------*/



.parent-header {
    display: flex;

}

/* header part */

.first-header {
    font-size: 40px;
    text-align: right;
    font-weight: 900;
    color: black;
    line-height: 10px;
}

.first-para {
    font-size: 20px;
    text-align: right;
    font-weight: 400;
    color: black;
    padding-left: 30%;
    padding-right: 30%;
    margin-bottom: 30px;

}




.top-banner {
    background-image: url("images/banner/banner1.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10%;
}

/* contact button */

.Contact {
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 5px;
    background-image: linear-gradient(tomato, orange);
    color: white;
    font-weight: 700;
    text-align: center;
    margin-left: 45%;


}




.second-part {
    display: flex;
    margin: 5%;
}

.second-part-width {
    width: 50%;
}

.second-part-width img {
    width: 90%;
}



.third-part {
    display: flex;

}


.third-part {
    display: flex;
    margin: 5%;
}

.third-part-width {
    width: 50%;
}

.third-part-width img {
    width: 90%;
}


.plan {
    text-align: center;
}

.all {
    display: flex;
    column-gap: 15%;
    margin-left: 10%;
}

/* Footer part */

.subscribe {
    display: flex;
}



footer {
    height: 45vh;
    background-color: black;
    color: white;
    padding-top: 30px;
}

.parent {
    display: flex;

}


/* email & call now part */

.child1,
.child2 {
    width: 45%;
    margin: auto;
}


.footer-input {}

input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 3px;
    background-color: black;
    color: #ffffff;
}

input[type=submit] {
    max-width: 25%;
    padding: 12px 14px;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 45, 7);
    font-weight: 700;
}



#imageart {
    background-image: url("images/watch.png");
    width: 70%;
    margin: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

#imagesection {
    background-image: url("images/gradient2.png");

    margin: auto;
    color: rgb(255, 255, 255);
    border-radius: 5px;

}

#imagesection h1,
h2,
p {
    padding-left: 30px;
    font-size: 30px;
}

#imagesection p {
    font-size: 30px;
    font-weight: bolder;
    margin-top: none;
}

#imagesection h2 {
    padding-top: 10px;
    padding-bottom: 20px;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    color: rgb(252, 61, 8);
}

#callnow {
    font-size: 30px;
    font-weight: bolder;
    color: rgb(252, 61, 8);
    margin-left: 30px;
    font-size: 15px;
    border-radius: 2px;
    border: 0px solid white;
    padding: 5px;
    margin-bottom: 10px;
}